html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-image: linear-gradient(to right, rgb(83, 36, 36) , rgb(52, 43, 105));
    list-style: none;
}

.tamanho{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    
    

}
.conteiner
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    justify-content: flex-end;
    padding: 50px;
    justify-content: space-between;
   
 }
 .imgMenu{
    height: 200px;
    width: 200px;
    margin-left: 850px;
 }

 .cntr2{
     display: flex;
    align-items: center;
    gap: 50px;
    
 }
 a{
    text-decoration: none;
     font-size: 25px;
     color: cornsilk;

}
a:hover{
    color: rgb(110, 88, 218);
}
.mainClass{
    display: flex;
    flex-direction: column;
    padding: 75px;
}
.Pmenu{
    margin-top: -150px;
    font-size: 35px;
    color: cornsilk;
}
h1{
    color: rgb(110, 88, 218);
}

.bt{
    font-size: 20px;
    width: 200px;
    padding: 10px;
    border-radius: 25px;
    color: cornsilk;
    background-color: rgb(110, 88, 218);
    border: none;
}
.bt:hover{
    background-color: rgb(95, 76, 189);
    
}
.center{
    margin-left: 180px;
}
.margText{
    color: cornsilk;
    font-size: 27px;
    padding: 20px;
    margin-top: 150px;
    margin-left: 25px;

}
.cntCard{
    display: flex;
text-align: center;   
margin-top: 150px;
padding: 35px;
justify-content: space-around;
 
}
.list-group-item:hover{
    background-color: royalblue;
    color: seashell;
}
.card2{
    padding: 15px;
}
.fs-5{
    color: rgb(207, 199, 193);
}
.icon{
    height: 30px;
    text-align: center;
    align-items: center;
}
.icon:hover{
    background-color: seashell;
    padding: 3px;
    border-radius: 5px;
    box-shadow: rgb(136, 186, 236) 2px 2px;

}
.content{
    justify-content:center;
    background-color: steelblue;
    padding: 10px;
}
.iconMeme{
    height: 45px;
    width: 45px;
    padding: 10px;
}